.h5 {
	font-size: 14px;
}

.badge-active {
	background: lightseagreen;
	color: #fff;
	font-size: 13px;
	margin: 4px;
}

.badge-expired {
	background: palevioletred;
	color: #fff;
	font-size: 13px;
	margin: 4px;
}

.note_text i {
	font-size: 50px;
	color: red;
	margin-bottom: 10px;
}

.note_text {
	font-size: 12px;
	margin-top: 20px;
}

.note_text_color {
	color: red;
}

.form-control {
	display: block;
	width: 100%;
	height: 24px;
	padding: 2px 6px;
	font-size: 0.75rem;
	line-height: .8;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.input-group-text {
	padding: 0px 10px !important;
}

.content-header {
	padding: 0px .5rem;
}

.dropdown-menu img.profile_img {
	height: 90px !important;
	width: 90px !important;
}

.card-header {
	padding: 0.2rem 1.25rem;
}

.bg-light {
	background-color: #002C54 !important;
}

.nav-pills .nav-link {
	color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #002c54;
	background-color: #ffffffde;
	border-radius: 6px;
}

.nav-sidebar>.nav-item:hover>.nav-link {
	color: #002c54;
	background-color: #ffffffde;
	border-radius: 6px;
}

.bg-primary {
	background-color: #002c54 !important;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #002c54;
	border-color: #002c54;
}

.title_text_dashboard {
	font-size: 20px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.btn:hover {
	color: #ff5722;
	background-color: #6639b500;
	border-color: #ff5722;
}

.delete-btn{
	cursor: pointer;
}
.card-header {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar-white {
	background-color: white;
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: #343434;
	border: 1px solid #a8a8a8;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 87, 34);
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 2px;
	font-weight: 600;
	font-size: 0.875rem;
}

.form-group {
	margin-bottom: 8px;
}

.btn {
	padding: 2px 10px;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

div.dataTables_wrapper div.dataTables_filter input {
	width: 17pc !important;
}

.small_td td,
.small_td th {
	padding: 0px 4px !important;
}

.table th,
.table td {
	padding: 4px 4px;
	font-size: 0.875rem;
}

.table td {
	font-size: 0.75rem;
}

.btn-xs {
	padding: .125rem .25rem;
}

.select2-container--default .select2-selection--single {
	padding: 0 !important;
}

.select2-container--default.select2-container--focus .select2-selection--single {
	color: #000;
	background-color: #8966c670;
	border-color: #6639b5;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(137, 103, 198);
}

.img-size-50 {
	height: 50px;
}

.pointer {
	cursor: pointer;
}

.pagetitle {
	background: #f2f2f2;
	margin: 0;
	font-size: 16px;
	padding: 8px 14px;
	color: #000;
	border-bottom: 1px solid #d7dfe3;
	text-transform: capitalize;
}

.fs-5{
	font-size: 0.875rem;
}

.fs-6{
	font-size: 0.75rem;
}

.fw-bold{
	font-weight: 700;
}

.slots-container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.slot-row {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	gap: 15px;
}

.slot {
	background-color: #f1f1f1;
	padding: 15px;
	border-radius: 10px;
	flex-grow: 1;
	border: 1px solid #adadad;
	box-shadow: 0px 0px 2px #53535380 inset;
}

.overflow_scroll_plans {
	height: 450px;
	overflow-x: scroll;
	border: 1px solid black;
	padding: 10px;
	margin: 20px 0px;
	border-radius: 4px;
}

h4 {
	margin: 0;
	font-size: 15px;
}

.plan {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 5px;
	background: #53a4fa36;
	padding: 6px;
	border-radius: 4px;
}

.plan input[type="radio"] {
	/* margin-right: 10px; */
	/* margin: 0 10px 4px 0; */
	margin: 0 10px 0px 0;
	/* display: none; */
}

.plan input[type="radio"]+label {
	cursor: pointer;
	user-select: none;
	margin: 0;
}

.plan input[type="radio"]:checked+label {
	font-weight: bold;
}

.price {
	margin-left: auto;
}

.discount {
	color: #999;
	font-size: 12px;
}

.slot h4 {
	font-size: 16px;
	font-weight: 700;
}

.slot-subscription-plans {
	background-color: #fff9c2;
}

.seat {
	display: inline-block;
	border: 2px solid #31708f;
	width: 55px;
	border-radius: 8px;
	height: 61px;
	text-align: center;
	cursor: pointer;
	position: relative;
	font-weight: 700;
	background: #d9edf7;
	background-image: url(https://www.walsisindia.com/library/images/car-seat-available.png);
	background-size: 38px;
	background-position: bottom;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	user-select: none;
}

/* .seat:hover {
	background-color: #a3d977;
} */

.action_seat {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.action_seat i {
	background: red;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 10px;
	opacity: 0;
	transition: 0.3s;
}

.action_seat:hover i {
	opacity: 1;
}


.seat:hover::before {
	opacity: 1;
}

.occupied{
	background-color: #f2dede;
	border-color: #a94442;
	background-image: url(https://www.walsisindia.com/library/images/car-seat-occupied.png);
}

.occupied:hover{
	background-color: transparent;
}

.color-s1 {
	color: #2196F3;
}

.color-s2 {
	color: yellowgreen;
}

.color-s3 {
	color: tomato;
}

/* Styling for seat map modal */
.modal-lg {
	max-width: 80%;
}

.seat.selected {
	background-color: #007bff;
	color: #fff;
}

#seatMapContainer {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modal.in .modal-dialog {
	margin: 0 auto;
}

.modal-title {
	float: left;
}

.legend {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.legend-item {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.legend-item img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.file-upload {
	position: relative;
	width: 125px;
	height: 125px;
	border: 2px dotted #ccc;
	background: #f5f5f5;
	border-radius: 10px;
	/* overflow: hidden; */
	display: inline-block;
	cursor: pointer;
}

.file-upload input[type='file'] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.file-upload img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
}

.file-upload .upload-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	color: #ccc;
}

.file-upload .remove-icon {
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: 18px;
	color: #fff;
	background-color: #ff0000;
	border-radius: 50%;
	padding: 4px;
	cursor: pointer;
	display: none;
	z-index: 1;
	width: 25px;
	height: 25px;
	text-align: center;
	/* Ensure the remove icon is above the image */
}

.file-upload .remove-icon:hover {
	background-color: #cc0000;
}

.profile-label {
	font-size: 16px;
	color: #ccc;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height: 3;
}

.image-upload-justify-center {
	display: flex;
	justify-content: center;
}

.plan-selected {
	background-color: #c9fae5;
	border: 1px solid #c9fae5;
}

.locker {
	border: 1px solid black;
	width: 55px;
	border-radius: 8px;
	height: 55px;
	text-align: center;
	cursor: pointer;
	margin: 5px;
	position: relative;
	font-weight: 700;
	background: #d9edf7;
	background-image: url('https://demo3.rusoft.in/schoolimage/default/safe-available.png') !important;
	background-size: 30px;
	background-position: bottom;
	background-repeat: no-repeat;
	user-select: none;
}

.locker {
	display: flex;
	justify-content: center;
	border: 2px solid #ccc;
	text-align: center;
	cursor: pointer;
	margin: 5px;
}

.locker:hover {
	background-color: #a3d977;
}

.locker:hover::before {
	opacity: 1;
}

.locker.selected {
	background-color: #007bff;
	color: #fff;
}

.locker.assigned {
	background-image: url('https://www.walsisindia.com/library/images/safe-occupied.png') !important;
}

#LockerContainer {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.width-30p {
	width: 30%;
}

.display-flex {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.we-checkbox {
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 0 !important;
}

/* Style for the legend container */
.seat-legend-container {
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

/* Style for each legend item */
.seat-legend-item {
	display: inline-block;
	/* margin: 5px; */
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #fff;
	background-color: #3498db;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	user-select: none;
}

.seat-legend-item:hover {
	background-color: #2980b9;
	transform: scale(1.1);
}

.plan-badge {
	position: relative;
	/* background: #ebe6f2; */
	background: rgba(0, 0, 0, .075);
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.premium-badge {
	position: relative;
	background-color: #ff4465;
	color: #fff;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
	font-weight: 600;
	transform: translateX(-50%);
	border-radius: 5px 0px 5px 0px;
	margin-left: -5px;
	top: -2px;
}

.premium-badge-1 {
	position: relative;
	background-color: #ff4465;
	color: #fff;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
	font-weight: 600;
	transform: translateX(-50%);
	border-radius: 5px 0px 5px 0px;
	margin-left: -5px;
	top: -2px;
}

.premium-badge-2 {
	position: relative;
	background-color: #777;
	color: #fff;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
	font-weight: 600;
	transform: translateX(-50%);
	border-radius: 5px 0px 5px 0px;
	margin-left: -5px;
	top: -2px;
}


.plan-selected .plan-badge {
	background: #a5eece;
}

.plan-badge .plan {
	margin-top: 5px;
}

.multi-plan {
	margin-left: 5px;
	margin-right: 5px;
}

.multi-plan-label {
	margin-bottom: 0px;
}

.jconfirm.jconfirm-supervan .jconfirm-box .jconfirm-buttons button {
	height: auto;
}

@media (min-width: 992px) {
	.jc-bs3-row {
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}

	.justify-content-lg-center {
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
}

@media (min-width: 768px) {
	.jc-bs3-row {
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}

	.justify-content-md-center {
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
}

@media (min-width: 576px) {
	.jc-bs3-row {
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}

	.justify-content-sm-center {
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
}

/* wizard css */
.wizard-steps {
	position: relative;
	z-index: 1;
}

.step-circle {
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	background-color: #dee2e6;
	color: #6c757d;
	font-weight: bold;
	display: inline-block;
	position: relative;
	z-index: 1;
}

.step-circle.active,
.step-circle.completed {
	background-color: #007bff;
	color: #fff;
}

/* .step-circle.completed::after {
	content: '✓';
	position: absolute;
	font-size: 16px;
	top: 8px;
	left: 13px;
} */

.box {
	border-right: 1px solid #b3b3b37a;
	background-color: #b8b8b829;
}

/* common layout */

.bg-item {
	background-color: #f8f9fa;
	transition: all 0.3s ease;
}

.bg-item:hover {
	background-color: #f1f3f5;
}

.highlight-row {
	animation: highlightRow 2s;
}


@keyframes highlightRow {
	0% {
		background-color: #d4edda;
	}

	100% {
		background-color: transparent;
	}
}

/* view image css */
.profileImg {
	width: 50px;
	height: 50px;
}

/* for mobile view button css */


@media (max-width: 468px) {
	.equal {
		margin-top: 8px;
	}
}

.btn-close {
	--bs-btn-close-color: #000;
	--bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
	--bs-btn-close-opacity: 0.5;
	--bs-btn-close-hover-opacity: 0.75;
	--bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	--bs-btn-close-focus-opacity: 1;
	--bs-btn-close-disabled-opacity: 0.25;
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	padding: .25em .25em;
	color: var(--bs-btn-close-color);
	background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
	filter: var(--bs-btn-close-filter);
	border: 0;
	border-radius: .375rem;
	opacity: var(--bs-btn-close-opacity);
}

/* cabin */
.linkTab {
	padding: 8px 15px;
}

.cabin-grid .item-box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 55px;
	height: 55px;
	border: 2px solid #ddd;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.3s;
}

.cabin-grid .item-box.available,
.locker-grid .item-box.available {
	background-color: #d9edf7;
	border-color: #31708f;
}

.cabin-grid .item-box.occupied,
.locker-grid .item-box.occupied {
	background-color: #f2dede;
	border-color: #a94442;
}

.cabin-grid .item-box:hover,
.locker-grid .item-box:hover,
.seat:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
