/* .login-left {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../images/loginbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 700px;
    padding-top: 6%;
    z-index: 2;
    cursor: pointer;
    color: white;
    border-radius: 8px 0px 0px 8px;
}



.login-right {
    background-image: url("../images/loginbg2.png");
    width: 600px;
    height: 700px;
    background-position-x: center;
    background-repeat: repeat;
} */



/* .left_title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 2%;
    width: 80%;
}

ul {
    list-style: none;
    row-gap: 20px;
    display: grid;
    padding-left: 3rem;
}

ul li {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;

}

ul li span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-align: justify;
}

.minilogo {
    width: 200px;
    height: 81.16px;
    margin: 25px 190px;
}

.login-form {
    margin: auto;
    padding: 60px;
    width: 455px;
    height: 478px;
    top: 234px;
    left: 792px;
    gap: 0px;
    border-radius: 5px;
    border: 1px 0px 0px 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(228, 228, 228, 1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.login-head {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    letter-spacing: 0.1em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(52, 52, 52, 1);

}

.login-role {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: center;
    align-items: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 40, 66, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.3) inset;
    width: 125px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-lable {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(52, 52, 52, 1);

}

.input-box {
    width: 350px;
    height: 40px;
    top: 448px;
    left: 844px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid rgba(228, 228, 228, 1);
    padding: 10px;
}

.input-box:focus {
    outline: none;
}

.login-btn {
    width: 350px;
    height: 35px;
    top: 505px;
    left: 844.49px;
    border-radius: 0px 0px 0px 0px !important;
    border: 1px 0px 0px 0px;
    border: 1px solid rgba(0, 40, 66, 1) !important;
    background: rgba(0, 40, 66, 1) !important;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);

}

.connect-with {
    width: 100%;
    height: 18px;
    top: 587px;
    left: 956.49px;
    padding: 0px;
    gap: 0px;
    color: rgba(52, 52, 52, 1);
    text-align: center;
}

.google {
    width: 170px;
    height: 35px;
    top: 621px;
    left: 1024.49px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(228, 228, 228, 1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.google:hover {
    width: 170px;
    height: 35px;
    top: 621px;
    left: 1024.49px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(228, 228, 228, 1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.whatsapp {
    width: 170px;
    height: 35px;
    top: 621px;
    left: 1024.49px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    color: rgba(52, 52, 52, 1);
    border: 1px solid rgba(228, 228, 228, 1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.whatsapp:hover {
    width: 170px;
    height: 35px;
    top: 621px;
    left: 1024.49px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    color: rgba(52, 52, 52, 1) !important;
    border: 1px solid rgba(228, 228, 228, 1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}*/


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.88);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

/* Modal Box */
.modal-content {
  border: 1px solid white;
  width: 1000px  !important;
 height:550px;
  border-radius: 8px;
  text-align: center;
  
  /* Prevent Zooming */
  transform: none !important;
  scale: 1 !important;
  touch-action: manipulation; /* Prevent double-tap zoom */
 top:2%
}






.timer{
    color: rgb(255, 255, 255);  
}

.login-model {
    height: 100vh !important;
    width: 100% !important;
    gap: 0px;
    z-index: 99999;
}

.btn-close1 {
    border: 2px solid rgb(255, 255, 255) !important;
    border-radius: 40px !important;
    background-color: #2a5298 !important;
  z-index: 999;
  font-size: 20px;
  color: rgb(255, 255, 255) !important;
  width: 37px;
  height: 37px;
  position: absolute;
  left: 74%;
  top: -1%;
  
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #cfe0f9, #ffffff);
    /* background-image: url("../images/black-bg.png"); */
    background-image:
    /* Reduce opacity for transparency */
    url("../images/black-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grass {
    position: absolute;
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
    height: auto;
    z-index: 100; /* Below the login box */
  }
  .house{
    position: absolute;
    bottom: 4rem;
    left: -3rem;
    width: 491px;
    z-index: 1;
  }
  .character{
    position: absolute;
    bottom: 4.2rem;
    right: 6.7rem;
    width: 180px;
    z-index: 1;
  }
  
  .outer-box{
     width: 452px;
     background-color: #2a5298;
     border: 1px solid black;
     padding: 7px;
     margin-left: 321px;
     
  }
  
  .login-box {
    width: 435px;
    height: 500px;
    background: #2a5298;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 2px solid white;
    padding: 0px 55px;
  }
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  
  .user-type {
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    border: 1px solid white;
    border-radius: 32px;
    padding: 2px 2px ;
    
  }
  
  .user-button.active {
     background-color: white;
    color: #2a5298; 
   
    border-radius: 5px;
    padding: 5px 31px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    
    border-radius: 31px;
    font-family: poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    /* width: 152.92px; */
  }
  .user-button{
    background: #2a5298;
    border: none;
    color: #fff;
    
    border-radius: 5px;
    padding: 5px 31px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    
    border-radius: 31px;
    font-family: poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    /* width: 152.92px; */
  
  }
  
  
  
  /* .user-button:not(.active) {
    background-color: #007bff; 
    color: #fff; 
  } */
  
  
  .input-field {
    width: 100%;
   padding: 10px 1px 10px 0px;
    font-size: 14px;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
    background: none;
   
    color: white;
    border: none;
    font-weight: 400;
    letter-spacing: 0.5px;
    
   
  }
  

  .input-field::placeholder {
    color: rgba(255, 255, 255, 1); /* Change to any color */
    opacity: 1; /* Ensures full visibility */
  }
  
  /* For better browser support */
  .input-field:-ms-input-placeholder { color: rgba(255, 255, 255, 1); } /* IE 10+ */
  .input-fieldt::-ms-input-placeholder { color: rgba(255, 255, 255, 1); } /* Edge */
  
  .login-button {
    width: 100%;
    background: white;
    border: none;
    color: #2a5298;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600;
    height: 35px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0,0.25);
  }
  
  
  
  
  .social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
  }
  
  
  .google-button, .whatsapp-button {
     display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;  /* Space between icon and text */
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  background: rgba(255, 255, 255, 1);
  color:rgba(55, 55, 55, 1);
  border: 1px solid rgba(228, 228, 228, 1);
  width: 153px;
  height: 35px;

  }
  .whatsapp-button img{
    padding-right: 5px;
  }
 
  
  .google-button:hover, .whatsapp-button:hover {
    background: #f0f0f0;
  }
  
  .illustration {
    position: relative;
    margin-top: 20px;
    text-align: center;
  }
  
  .house-image {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  
  .family-illustration {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .family-image {
    width: 100%;
    max-width: 150px;
  }
  
  .p_items{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  } 